alembic==0.8.10
aniso8601==3.0.2
attrs==15.2.0
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
baidu-aip==1.1.0.0
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
bitarray==0.8.1
bleach==1.5.0
blinker==1.4
browsermob-proxy==0.8.0
bs4==0.0.1
certifi==2016.2.28
cffi==1.5.2
chardet==2.3.0
ChatterBot==0.6.0
chatterbot-corpus==0.0.1
click==6.7
Cola==0.1.0
colorama==0.3.7
configparser==3.5.0
crochet==1.6.0
cryptography==1.3.1
cssselect==0.9.1
cx-Oracle==5.2.1
cycler==0.10.0
decorator==4.0.10
defusedxml==0.4.1
Django==1.11
docopt==0.6.2
docutils==0.12
docx==0.2.4
dominate==2.3.1
dpkt==1.8.8
entrypoints==0.2.2
enum34==1.1.2
et-xmlfile==1.0.1
Flask==0.12.1
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.2.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.3
Flask-Moment==0.5.1
Flask-PageDown==0.2.2
Flask-RESTful==0.3.6
Flask-Script==2.0.5
Flask-SocketIO==2.8.6
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
flock==0.1
fmovice==0.1.0
ForgeryPy==0.1
functools32==3.2.3.post2
future==0.16.0
gevent==1.2.2
gevent-websocket==0.10.1
Ghost.py==0.2.3
google==1.9.3
graphics==1.1
greenlet==0.4.12
hooks==0.1.1
html5lib==0.9999999
httpie==0.9.9
httplib2==0.9.2
ibm-db==2.0.7
idna==2.1
image==1.4.4
ipaddress==1.0.16
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==6.0.0
itsdangerous==0.24
jdcal==1.3
jieba==0.38
Jinja2==2.9.6
jiphy==1.2.1
jsondatabase==0.1.7
jsonschema==2.5.1
jupyter-client==4.4.0
jupyter-core==4.2.1
Kivy==1.9.1
Kivy-Garden==0.1.4
logger==1.4
lxml==3.6.0
Mako==1.0.6
Markdown==2.6.8
MarkupSafe==1.0
matplotlib==2.0.0
mechanize==0.2.5
mistune==0.7.3
mmh3==2.4
mpmath==0.19
MySQL-python==1.2.3
Naked==0.1.31
nbconvert==5.0.0
nbformat==4.2.0
nltk==3.2.1
notebook==4.3.1
ntplib==0.3.3
numpy==1.12.1rc1+mkl
oauthlib==2.0.2
openpyxl==2.4.7
pandas==0.19.2
pandocfilters==1.4.1
pathlib2==2.1.0
pdfminer==20140328
peewee==2.9.2
pefile==2016.3.28
pickleshare==0.7.4
Pillow==3.1.1
plotly==2.0.0
prompt-toolkit==1.0.9
psutil==5.0.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pybloom==1.1
pycparser==2.14
pycrypto==2.6.1
pyftpdlib==1.5.1
pygame==1.9.3
Pygments==2.1.3
PyInstaller==3.2
pymongo==3.4.0
PyMySQL==0.7.11
pynotify==0.1.1
pyodbc==4.0.25
pyOpenSSL==16.0.0
pyparsing==2.1.10
pyperclip==1.7.0
pypiwin32==219
PyQt4-windows-whl==4.11.4.1
pyquery==1.2.11
pyreadline==2.1
PySide==1.2.4
pytesseract==0.1.6
python-dateutil==2.6.0
python-docx==0.8.6
python-editor==1.0.3
python-engineio==1.5.4
python-Levenshtein==0.12.0
python-socketio==1.7.5
python-twitter==3.2.1
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
QDarkStyle==2.6.5
queuelib==1.4.2
redis==2.10.5
requesocks==0.10.8
requests==2.13.0
requests-oauthlib==0.8.0
rsa==3.4.2
scapy==2.3.3
scikit-learn==0.18.1
scipy==0.19.0
Scrapy==1.0.5
scrapy-redis==0.6.8
scrapydo==0.1.0
selenium==3.4.1
service-identity==16.0.0
shellescape==3.4.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
soaplib==1.0.0
SOAPpy==0.12.22
SQLAlchemy==1.1.9
suds==0.4
sympy==1.0
tabula==1.0.5
testpath==0.3
threadpool==1.3.2
tornado==4.4.2
traitlets==4.3.1
Twisted==22.10.0
uiautomator==0.2.6
urllib3==1.19
utils==0.9.0
virtualenv==15.1.0
visitor==0.1.3
w3lib==1.13.0
wcwidth==0.1.7
weixin==0.1
Werkzeug==0.12.1
Whoosh==2.7.4
widgetsnbextension==2.0.0
win-unicode-console==0.5
wstools==0.4.3
WTForms==2.1
wxPython==4.0.0a1
xlrd==1.0.0
xlutils==2.0.0
xlwt==1.2.0
zope.interface==4.1.3
