{% extends "news_base.html" %}


{% block title %}Flasky - Confirm your account{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Hello, {{ current_user.username }}!
    </h1>

    <!--<h3>你还没有确认你的账户.</h3>-->
    <h3>You have not confirmed your account yet.</h3>

    <!--<p>-->
        <!--在你可以访问这个网站之前,你需要确认你的账户。检查你的收件箱,你应该收到邮件确认链接。-->
    <!--</p>-->
    <p>
        Before you can access this site you need to confirm your account.
        Check your inbox, you should have received an email with a confirmation link.
    </p>

    <!--<p>-->
        <!--需要另一个确认电子邮件吗?-->
        <!--<a href="{{ url_for('auth.resend_confirmation') }}">点击这里</a>-->
    <!--</p>-->
    <p>
        Need another confirmation email?
        <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
    </p>
</div>
{% endblock %}
