
{% extends "base.html" %}

<!--浏览器地址栏的图标-->
{% block head %}
  {{ super() }}<!--保留基模板中的定义的块的原始内容-->

    <script src="{{ url_for('static', filename = 'echarts.min.js') }}"></script>

{% endblock %}
<!--浏览器地址栏的图标结束-->

{% block title %}分析图{% endblock %}


{% block content %}
<div class="container">

    {% block page_content %}
    <div class="page-header">
        <!--测试登入-->

        <h2>您好！
          {% if current_user.is_authenticated %}
        {{ current_user.username }}
        {% else %}
        想查看更多内容,请登入...
        {% endif %}!
        </h2>
        <!--测试登入结束-->

        <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
        <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>








        <hr/>
        <div id="main2" style="width: 600px;height:400px;background-color: grey;"></div>
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="container1" style="width: 600px;height:400px;background-color: grey;" ></div>

        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main2'));

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '销量分析'
                },
                tooltip: {},
                legend: {
                    data:['销量']
                },
                xAxis: {
                    data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                },
                yAxis: {},
                series: [{
                    name: '销量',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 20]
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
    </script>
        <script type="text/javascript">
                var dom = document.getElementById("container1");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;
                option = {
                    title: {
                    text: '推广分析'
                },
                    series : [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius: '55%',
                            data:[
                                {value:235, name:'视频广告'},
                                {value:274, name:'联盟广告'},
                                {value:310, name:'邮件营销'},
                                {value:335, name:'直接访问'},
                                {value:400, name:'搜索引擎'}
                            ]
                        }
                    ]
                };;
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
       </script>

    </div>


    {% endblock %}
</div>
{% endblock %}