<div class="aw-mod aw-explore-list">
    <div class="mod-body">
        <div class="aw-common-list">

        <div class="aw-item active" data-topic-id="167,">
            <a class="aw-user-name hidden-xs" data-id="3598" href="http://wenda.bootcss.com/people/%E4%B8%80%E8%B5%B7%E8%B5%B0" rel="nofollow">
                <img src="http://wenda.bootcss.com/uploads/avatar/000/00/35/98_avatar_max.jpg" alt="">
            </a>
            <div class="aw-question-content">
                <h4>
                    <a href="http://wenda.bootcss.com/question/2416">导出excel时第一列总有一个on，求教如何去掉</a>
                </h4>
                    <a href="http://wenda.bootcss.com/question/2416#!answer_form" class="pull-right text-color-999">回复</a>

                <p>

                        <a href="http://wenda.bootcss.com/people/%E4%B8%80%E8%B5%B7%E8%B5%B0" class="aw-user-name">一起走</a>
                        <span class="text-color-999">发起了问题 • 1 人关注 • 0 个回复 • 30 次浏览 • 1 天前
                        </span>
                        <span class="text-color-999 related-topic hide"> •  来自相关话题</span>
                </p>

                    </div>
        </div>




        </div>
    </div>
    <div class="mod-footer">

        <div class="page-control">
            <ul class="pagination pull-right">
                <li class="active"><a href="javascript:;">1</a></li>
                li><a href="http://wenda.bootcss.com/sort_type-new__day-0__is_recommend-0__page-2">2</a></li>
                <li><a href="http://wenda.bootcss.com/sort_type-new__day-0__is_recommend-0__page-3">3</a></li><li>
                <a href="http://wenda.bootcss.com/sort_type-new__day-0__is_recommend-0__page-4">4</a></li><li>
                <a href="http://wenda.bootcss.com/sort_type-new__day-0__is_recommend-0__page-2">&gt;</a></li><li>
                <a href="http://wenda.bootcss.com/sort_type-new__day-0__is_recommend-0__page-36">&gt;&gt;</a></li>
            </ul>
        </div>
    </div>
</div>